<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Content/Site.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/2803e1e959.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="mb-1 navbar navbar-expand-lg lighten-1 fixed-top bg-light">
        @Html.ActionLink("PLanSZ00fki", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @{var pageController = ViewContext.RouteData.Values["Controller"].ToString(); }
        @{var pageAction = ViewContext.RouteData.Values["Action"].ToString(); }
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Gry Planszowe", "Index", "BoardGames", new { area = "" }, new { @class = "nav-link " + (pageController == "BoardGames" ? "bg-white rounded-pill" : "") })</li>
                <li>@Html.ActionLink("Gracze", "Index", "Players", new { area = "" }, new { @class = "nav-link " + (pageController == "Players" ? "bg-white rounded-pill" : "") })</li>
                <li>@Html.ActionLink("Wydarzenia", "Index", "Events", new { area = "" }, new { @class = "nav-link " + (pageController == "Events" ? "bg-white rounded-pill" : "") })</li>
                <li>@Html.ActionLink("Gildie", "Index", "Guilds", new { area = "" }, new { @class = "nav-link " + (pageController == "Guilds" ? "bg-white rounded-pill" : "") })</li>
                <li>@Html.ActionLink("Kategorie gier", "Index", "Categories", new { area = "" }, new { @class = "nav-link " + (pageController == "Categories" ? "bg-white rounded-pill" : "") })</li>
                <li>@Html.ActionLink("Statystyki", "About", "Home", new { area = "" }, new { @class = "nav-link " + (pageAction == "About" ? "bg-white rounded-pill" : "") })</li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>




  
    <div class="container body-content" style="margin-top:30px">
        @RenderBody()
        <hr />
        <footer class="fixed-bottom">
            <p>&copy; @DateTime.Now.Year - Hubert Zabłocki</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
