@model BoardGames.Models.BoardGame

@{
    ViewBag.Title = "Details";
}

<div>
        
    <div class="container">
        <div class="row"><h2>@Model.Name</h2></div>
        <div class="row">
            <div class="col-8">
                <img src="@Model.ImageUrl" class="img-fluid" />
            </div>
            <div class="col-sm">

                @Html.DisplayNameFor(model => model.CreatedByPlayer)

                @Html.DisplayFor(model => model.CreatedByPlayer.NameAndEmail)

                <table class="table">
                    <tr>
                        <th>Kategorie</th>
                    </tr>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>

                <table class="table">
                    <tr>
                        <th>Gracze, którzy uwielbiają tę grę:</th>
                    </tr>
                    @foreach (var item in Model.Players)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                        </tr>
                    }
                </table>
                @if (Model.Players.Where(p => p.Email == User.Identity.Name).Count() == 1)
                {
                    @Html.ActionLink("Odlub", "RemoveFromFavourites", new { id = Model.ID }, new { @class = "btn btn-warning" })
                }
                else
                {
                    @Html.ActionLink("Ulub", "AddToFavourites", new { id = Model.ID }, new { @class = "btn btn-success" })
                }
            </div>
        </div>
    </div>

    <hr />
</div>
<p>
    @if (Model.CreatedByPlayer!=null && User.Identity.Name == Model.CreatedByPlayer.Email)
    {
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID })
    }
</p>
