@model PagedList.IPagedList<BoardGames.Models.BoardGame>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "BoardGames";
}

<p>
    @Html.ActionLink("Nowa gra", "Create", null, new { @class = "btn btn-success position-sticky" })
</p>
@using (Html.BeginForm("Index", "BoardGames", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class="form-control" })
        <input type="submit" value="Szukaj" class="btn btn-light" />
    </p>
}


<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {

    <div class="col mb-4">
        <div class="card shadow-lg p-2 bg-white rounded">
            <a href="Boardgames/Details/@item.ID" class="">
                <img src="@item.ImageUrl" onError="~/Obrazki/boardgame-placeholder.jpg" class="img-fluid" style="object-fit: contain;" alt="@item.Name">

                <h6 class="grey-text pb-2 pt-1 text-right mb-0">

                    @item.MinPlayers - @item.MaxPlayers <i class="fas fa-user mr-4"></i>

                    @foreach (var cat in item.Categories)
                    {
                        @(cat.Name + " ")

                    }
                    <i class="fas fa-dice mt-2 mr-3"></i>
                </h6>
                
                <div class="card-body pl-1">
                    <h3 class="card-title ml-3">@item.Name</h3>
                    <p class=" blockquote card-text ">
                        @item.Description
                    </p>


                </div>
            </a>
            <div >
                @if (item.Players.Where(p => p.Email == User.Identity.Name).Count() == 1)
                {
                    @Html.ActionLink("Odlub", "RemoveFromFavourites", new { id = item.ID }, new { @class = "btn btn-warning" })
                }
                else
                {
                    @Html.ActionLink("Ulub", "AddToFavourites", new { id = item.ID }, new { @class = "btn btn-success" })
                }
            </div>
        </div>
        
    </div>

    }
</div>
