@model BoardGames.Models.Player

@{
    ViewBag.Title = "Details";
}
    <div class="row">
        <div class="col">
            <div class="card m-2">

                @{ var image = Model.Avatar != null ? Model.Avatar : "img_avatar.png";}
                <img class="card-img-top" src="~/Obrazki/@image" style="max-height:500px; width: auto" alt="@Model.NameAndEmail">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">@Model.Name</h4>
                    <!-- Text -->
                    <p class="card-text">
                        @Model.Email
                    </p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card m-2">

                <div class="card-body">
                    <h4 class="card-title"><a>Ulubione gry:</a></h4>
                    <!-- Text -->
                    <div class="container col">
                        <div class="row d-flex flex-row">
                            @foreach (var bg in Model.FavouriteGames)
                            {
                                <div class="m-1">
                                    <a href="/BoardGames/Details/@bg.ID" class="badge badge-primary">
                                        <div class="p-2 "> 
                                            <img class="small-boardgame-image p-1" src="@bg.ImageUrl" style="height: 100px" />
                                            <br />
                                            @bg.Name
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Gildie</h2>
                    <div class="container col">
                        <div class="row d-flex flex-row">
                            @foreach (var item in Model.Guilds)
                            {
                                <div class="col-6">
                                    <div class="card">
                                        <div class="view view-cascade overlay">
                                            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                                            <a href="/Guilds/Details/@item.ID">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body card-body-cascade text-center">
                                            <h3 class="card-title"><strong>@item.Name</strong></h3>
                                            <h6 class="blue-text pb-2"><strong>Prowadzący: @item.Owner.Name</strong></h6>
                                            <p class="card-text">
                                                @item.Descripton
                                            </p>
                                            <span>Prowadzący:</span>
                                            @{image = item.Owner.Avatar != null ? item.Owner.Avatar : "img_avatar.png";}
                                            <a href="/Players/Details/@item.Owner.ID">
                                                <span class="badge badge-pill badge-danger pr-3">
                                                    <img src="~/Obrazki/@image" class="mr-1 small-player-image text-break"> @item.Owner.Name
                                                </span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Wydarzenia</h2>
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ParticipatedEvents.Concat(Model.HostedEvents))
                            {
                                <tr>
                                    <td><a href="/Events/Details/@item.ID">@item.Name</a></td>
                                    <td>
                                        @{if (item.HostPlayer.ID == Model.ID)
                                            {
                                                @:<b style="font-weight:bold">Organizator</b>
                                            }
                                            else
                                            {
                                                @:Uczestnik
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
    </div>
    
