@model IEnumerable<BoardGames.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Wydarzenia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="card rounded-lg border border-info">
        <div class="card-body">
            <h5 class="card-title">
                @item.Name
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                @item.Place
                @item.Date
            </h6>
            <p class="card-text">
                @item.Description
            </p>
            @if (Request.IsAuthenticated)
            {
                if (item.ParticipantPlayers.Contains(ViewBag.Player))
                {
                    <a href="events/cancel/@item.ID" class="card-link">Zrezygnuj</a>
                } else { 
                <a href="events/join/@item.ID" class="card-link">Dołącz</a>
                }
            }
            <a href="events/details/@item.ID" class="card-link">Szczegóły</a>
        </div>
    </div>
}



