@model BoardGames.Models.Team

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="container">
    <div class="row">
        <div class="col-5 card m-2 p-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Team</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripton, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripton, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripton, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-5 card m-2 p-3">
            <h1>Gracze</h1>
            <table class="table table-striped table-responsive-md btn-table">
                <thead>
                    <tr>
                        <th>Gracz</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.Players)
                    {
                        <tr>
                            <td>
                                @{var image = player.Avatar != null ? player.Avatar : "img_avatar.png";}
                                <a href="/Players/Details/@player.ID">
                                    <div>
                                        <img src="~/Obrazki/@image" class="mr-1 small-player-image"> <span>@player.Name</span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="/Teams/RemovePlayer/@Model.ID?playerID=@player.ID" class="btn btn-danger btn-sm m-0">Usuń</a>
                                <a href="/Teams/MakeOwner/@Model.ID?playerID=@player.ID" class="btn btn-deep-orange btn-sm m-0">Oddaj prowadzącego</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-5 card m-2 p-3">
            <h1>Zgłoszenia</h1>
            <table class="table table-striped table-responsive-md btn-table">
                <thead>
                    <tr>
                        <th>Gracz</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.JoinRequests)
                    {
                        <tr>
                            <td>
                                @{var image = player.Avatar != null ? player.Avatar : "img_avatar.png";}
                                <a href="/Players/Details/@player.ID">
                                    <div>
                                        <img src="~/Obrazki/@image" class="mr-1 small-player-image"> <span>@player.Name</span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="/Teams/AcceptJoinRequest/@Model.ID?playerID=@player.ID" class="btn btn-success btn-sm m-0">Akceptuj</a>
                                <a href="/Teams/DeclineJoinRequest/@Model.ID?playerID=@player.ID" class="btn btn-danger btn-sm m-0">Odrzuć</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="col-5 card m-2 p-3">
            <h1>Zaproszenia:</h1>
            <table class="table table-striped table-responsive-md btn-table">
                <thead>
                    <tr>
                        <th>Gracz</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model.Invited)
                    {
                        <tr>
                            <td>
                                @{var image = player.Avatar != null ? player.Avatar : "img_avatar.png";}
                                <a href="/Players/Details/@player.ID">
                                    <div>
                                        <img src="~/Obrazki/@image" class="mr-1 small-player-image"> <span>@player.Name</span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="/Teams/CancelInvite/@Model.ID?playerID=@player.ID" class="btn btn-danger btn-sm m-0">Anuluj</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>



            @using (Html.BeginForm("InvitePlayer", "Teams", FormMethod.Get))
            {
                <input name="teamId" type="hidden" value="@Model.ID">

                @Html.DropDownList("PlayerToInvite", null, new { @class="browser-default custom-select" });
                <p>
                    <input  type="submit" value="Zaproś" />
                </p>
            }
        </div>
    </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
